body {
  overflow-x: hidden !important;
}

.form-check-input {
  margin-left: 0px !important;
}

.category-btn {
  color: white;
  border: none;
  background: none;
  font-size: 18px;
  padding: 10px 5px;
  margin-top: 1px;
  display: flex;
  justify-content: flex-start;
}

.category-btn:hover {
  background: #dc3545 !important;
  color: #fff !important;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.card .card-title {
  height: 45px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .sideBar {
    height: 93vh;
    overflow: hidden;
    /* overflow-x: hidden;
    overflow-y: scroll; */
  }

  .loader {
    position: absolute;
    height: 85%;
    width: 80%;
  }
}

@media screen and (max-width: 991px) {
  .sideBar {
    flex-direction: row !important;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .loader {
    position: absolute;
    height: 85%;
    width: 100%
  }

}


/* Responsive Css */

@media screen and (max-width: 450px) {
  .col-12 {
    padding: 0px;
  }

  .category-btn {
    border-top: none !important;
    padding: 0px 6px;
  }

  .row {
    display: block;
    margin: auto;
  }

  .category-btn {
    margin: 6px;
  }

  .category-btn span {
    margin: 10px;
  }
}

@media screen and (max-width: 575px) {
  .searchBar{
    margin-top: 12px;
    width: 100%;
    padding: 0px !important;
  }
}

@media screen and (max-width: 540px) {
  .category-btn {
    border-top: none !important;
  }
}